/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 
 * Author: User Name
 */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

.btn {
  padding: 12px 28px;
}

body {
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

body h1 {
  font-family: "Oxygen";
  text-align: center;
  color: #fff;
}

body .title {
  display: table;
  font-family: "Coustard";
  font-size: 22px;
  line-height: 44px;
  margin: 0 auto;
  margin-bottom: 41px;
  padding: 1px 31px 1px 30px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
}

.header-container {
  width: 940px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
}

.header-container:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  box-shadow: 0 -10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  display: block;
  position: relative;
  margin: 0 auto;
  float: none;
  width: 131px;
  padding-top: 22px;
  text-align: center;
  z-index: 100;
}

.navbar-right {
  margin-right: 6px;
}

.navbar-nav > li > a {
  font-size: 16px;
  font-family: "Oxygen";
  padding: 30px 14px 33px 14px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.nav .active a, .nav .active a:hover,
.nav > li > a:hover, .nav > li > a:focus {
  color: #fff;
}

.nav .active a .home {
  background: #2f87cb;
}

.home {
  overflow: hidden;
  position: relative;
  height: 796px;
  z-index: 0;
  background: #2f87cb;
  border-bottom: 1px solid #fff;
}

.home h1 {
  padding-top: 167px;
  margin: 0 0 27px;
}

.home .slick-arrow {
  position: absolute;
  background: #000;
  border: 0;
  z-index: 999;
  text-indent: -9999px;
}

.home .slick-prev {
  background: url(../images/home-slide-arrow-prev.png) rgba(0, 0, 0, 0.26) no-repeat;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .home .slick-prev {
    left: 310px;
    top: 270px;
  }
}

@media (min-width: 992px) {
  .home .slick-prev {
    left: 0;
    top: 44px;
  }
}

.home .slick-next {
  background: url(../images/home-slide-arrow-next.png) rgba(0, 0, 0, 0.26) no-repeat;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .home .slick-next {
    right: 310px;
    top: 270px;
  }
}

@media (min-width: 992px) {
  .home .slick-next {
    right: 0;
    top: 44px;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.slick-list {
  margin: 0 50px;
}

.about {
  overflow: hidden;
  position: relative;
  height: 875px;
  z-index: 0;
  background: #cb542f;
  border-bottom: 1px solid #fff;
}

.about h1 {
  padding-top: 100px;
  margin: 0 0 22px;
  overflow: hidden;
}

.title__decor {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {
  .title__decor {
    padding: 0 20px 12px;
  }
  .title__decor:before,
  .title__decor:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    top: 55%;
    height: 11px;
    border: solid #fff;
    opacity: 0.4;
    border-width: 4px 0;
    left: 100%;
    right: -999px;
    margin: 2px 0 0;
  }
  .title__decor:before {
    right: 100%;
    left: -999px;
  }
}
