/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 
 * Author: User Name
 */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

.btn {
  padding: 12px 28px;
}

body {
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

body h1 {
  font-size: 20px;
  font-family: "Coustard", Arial, sans-serif;
  text-align: center;
  color: #fff;
}

@media (min-width: 768px) {
  body h1 {
    font-size: 72px;
  }
}

body .title {
  display: table;
  font-family: "Coustard", Arial, sans-serif;
  font-size: 22px;
  line-height: 44px;
  margin: 0 auto;
  margin-bottom: 67px;
  padding: 1px 31px 1px 30px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 23px;
  text-align: center;
  font-weight: 400;
}

.header-container {
  max-width: 940px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
}

.header-container:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  box-shadow: 0 -10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  display: block;
  position: relative;
  margin: 0 auto;
  float: none;
  width: 131px;
  text-align: center;
  z-index: 100;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 22px 0 0 18px;
  }
}

@media (min-width: 992px) {
  .navbar-right {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .navbar-right {
    margin-right: 6px;
  }
}

.navbar-nav > li > a {
  font-size: 16px;
  font-family: "Oxygen", Arial, sans-serif;
  padding: 27px 14px 35px 14px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.nav .active a, .nav .active a:hover,
.nav > li > a:hover, .nav > li > a:focus {
  color: #fff;
  background: none;
}

.nav-select {
  display: block;
  width: 300px;
  margin-top: 10px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Oxygen", Arial, sans-serif;
  color: #000;
  padding: 4px 14px 3px;
  border-radius: 15px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.home {
  overflow: hidden;
  position: relative;
  z-index: 0;
  background: #2f87cb;
  border-bottom: 1px solid #fff;
}

.home h1 {
  padding-top: 158px;
  margin: 0 0 11px;
}

.home .slick-arrow {
  position: absolute;
  background: #000;
  border: 0;
  z-index: 999;
  text-indent: -9999px;
}

.home .slick-prev {
  background: url(../images/home-slide-arrow-prev.png) rgba(0, 0, 0, 0.26) no-repeat;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .home .slick-prev {
    left: 310px;
    top: 270px;
  }
}

@media (min-width: 992px) {
  .home .slick-prev {
    left: -47px;
    top: -60px;
  }
}

.home .slick-next {
  background: url(../images/home-slide-arrow-next.png) rgba(0, 0, 0, 0.26) no-repeat;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .home .slick-next {
    right: 310px;
    top: 270px;
  }
}

@media (min-width: 992px) {
  .home .slick-next {
    right: -47px;
    top: -60px;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.slick-list {
  margin: 0;
}

/*------------------*/
.about {
  overflow: hidden;
  position: relative;
  z-index: 0;
  background: #cb542f;
  border-bottom: 1px solid #fff;
}

.about h1 {
  padding-top: 91px;
  margin: 0 0 12px;
  overflow: hidden;
}

.title__decor {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {
  .title__decor {
    padding: 0 16px 11px;
  }
  .title__decor:before,
  .title__decor:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    top: 43%;
    height: 11px;
    border: solid #fff;
    opacity: 0.4;
    border-width: 4px 0;
    left: 100%;
    right: -999px;
    margin: 2px 0 0;
  }
  .title__decor:before {
    right: 100%;
    left: -999px;
  }
}

.web {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 230px;
  z-index: 0;
}

.web:after {
  content: '';
  position: absolute;
  border: 7px solid #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}

.web span {
  content: '';
  position: absolute;
  width: 110px;
  font-size: 18px;
  font-family: "Oxygen";
  font-weight: bold;
  text-align: center;
  top: 102px;
  right: 66px;
}

.skills {
  text-align: center;
}

.test__decor {
  overflow: hidden;
  margin-top: 44px;
  margin-bottom: -6px;
}

.line__decor {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {
  .line__decor {
    padding: 0 15px;
    margin-bottom: 18px;
  }
  .line__decor:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    top: 53%;
    height: 1px;
    border: solid #fff;
    opacity: 0.2;
    border-width: 1px 0;
    left: 100%;
    right: -999px;
    margin: 2px 0 0;
  }
}

.test__left {
  width: 528px;
  float: left;
}

.test__right {
  width: 528px;
  float: right;
}

.test {
  margin: 0;
  padding: 18px 0 0 30px;
  background: url(../images/quotes.png) no-repeat;
  font-size: 18px;
  line-height: 24px;
  font-family: "Oxygen", Arial, sans-serif;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.test p {
  font-weight: 400;
}

.test span {
  font-weight: bold;
  float: right;
  padding-top: 6px;
}

.team {
  overflow: hidden;
  position: relative;
  height: 872px;
  z-index: 0;
  background: #72af3c;
  border-bottom: 1px solid #fff;
}

.team h1 {
  padding-top: 77px;
  margin: 0 0 12px;
  overflow: hidden;
}

.team h4 {
  font-family: "Oxygen", Arial, sans-serif;
  line-height: 44px;
}

.team p {
  font-family: "Oxygen", Arial, sans-serif;
  line-height: 20px;
}

.team__face {
  padding-right: 23px;
}

.team__img {
  width: 230px;
  height: 230px;
  background: #fff;
  border: 7px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.team__decor {
  overflow: hidden;
  margin: 15px 0 0;
  text-align: center;
}

.team-line__decor {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {
  .team-line__decor {
    padding: 0 13px 0;
  }
  .team-line__decor:before,
  .team-line__decor:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    top: 54%;
    height: 1px;
    border: solid #fff;
    opacity: 0.4;
    border-width: 1px 0;
    left: 100%;
    right: -999px;
    margin: 2px 0 0;
  }
  .team-line__decor:before {
    right: 100%;
    left: -999px;
  }
}

.icons {
  height: 29px;
  padding: 6px 0 0;
  margin: 0;
  text-align: center;
}

.icons .icon__bg {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin: 0 3px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 50%;
}

.icons svg {
  color: #fff;
}

.icons .icon {
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  z-index: 0;
  fill: currentColor;
}

.portfolio {
  overflow: hidden;
  position: relative;
  height: 1484px;
  z-index: 0;
  background: #cc9031;
  border-bottom: 1px solid #fff;
}

.portfolio h1 {
  padding-top: 79px;
  margin: 0 0 13px;
  overflow: hidden;
}

.portfolio__nav {
  display: block;
  margin: -16px auto 45px;
  text-align: center;
  position: relative;
}

.nav-pills li {
  position: relative;
  float: none;
  display: inline-block;
}

.nav-pills li:last-child:before {
  display: none;
}

.nav-pills li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  background: url(../images/portfolio/nav-line.png) no-repeat;
  top: 8px;
  right: 0;
}

.nav-pills li a {
  font-size: 22px;
  font-family: "Oxygen", Arial, sans-serif;
  font-weight: bold;
  margin: 0 37px 0 10px;
  padding: 0 0 4px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus, .nav-pills > li a:hover {
  color: #ffe7c0;
  background: none;
  border-top: 3px solid #ffe7c0;
  border-bottom: 3px solid #ffe7c0;
  border-radius: 0;
}

.portfolio__img {
  width: 230px;
  height: 230px;
  margin-bottom: 40px;
  background: #fff;
  border: 7px solid #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.32);
}

.blog {
  overflow: hidden;
  position: relative;
  height: 1161px;
  z-index: 0;
  background: #37a3c7;
  border-bottom: 1px solid #fff;
}

.blog h1 {
  padding-top: 100px;
  margin: 0 0 18px;
  overflow: hidden;
}

.blog h3 {
  font-family: "Oxygen", Arial, sans-serif;
}

.blog-img {
  display: block;
  float: left;
  width: 230px;
  height: 230px;
  margin-bottom: 51px;
  background: #fff;
  border: 7px solid #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.32);
}

.blog__decor {
  overflow: hidden;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.blog p {
  padding: 2px 0 0 270px;
}

.blog p a {
  text-decoration: underline;
}

.blog-left__decor {
  overflow: hidden;
  margin: 7px 0 20px;
}

.blog-line__decor {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {
  .blog-line__decor {
    padding: 0 10px 0 7px;
  }
  .blog-line__decor:before,
  .blog-line__decor:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '';
    top: 45%;
    height: 2px;
    border: solid #fff;
    opacity: 0.4;
    border-width: 2px 0;
    left: 100%;
    right: -999px;
    margin: 2px 0 0;
  }
}

.posts {
  margin-top: -14px;
  margin-left: -15px;
}

.sidebar {
  margin-top: -9px;
  margin-left: 15px;
}

.search .input {
  margin: -4px 0 34px 7px;
}

.search .input .form-control {
  height: 40px;
  padding: 3px 22px 6px;
  border-radius: 20px;
  background-color: #297993;
  border: 0;
  font-family: "Oxygen", Arial, sans-serif;
}

.categories {
  margin-top: 5px;
}

.categories ul {
  margin: -8px 0 45px;
  padding-left: 22px;
}

.categories ul li {
  padding-bottom: 5px;
}

.latest-tweets {
  margin-top: -13px;
}

.latest-tweets p {
  margin: -20px 0 0;
  padding-left: 7px;
}

.shortcodes {
  overflow: hidden;
  position: relative;
  height: 2132px;
  z-index: 0;
  background: #45b591;
  border-bottom: 1px solid #fff;
}

.shortcodes h1 {
  padding-top: 91px;
  margin: 0 0 22px;
  overflow: hidden;
}

.shortcodes h3 {
  font-family: "Oxygen", Arial, sans-serif;
  margin-top: 12px;
}

.columns .row {
  margin-bottom: 26px;
  padding-right: 15px;
  padding-left: 15px;
}

.shortcodes__decor {
  overflow: hidden;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.text-elements .list {
  padding-top: 8px;
}

.text-elements .list ul {
  padding-left: 15px;
}

.text-elements .list ul li {
  padding-bottom: 5px;
}

.text-elements .number {
  padding-top: 8px;
}

.text-elements .number li {
  padding-bottom: 5px;
}

.text-elements .quotes {
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
  padding-top: 24px;
  padding-left: 50px;
  padding-right: 0;
  background: url(../images/quotes.png) no-repeat;
}

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion li {
  position: relative;
  padding: 16px 0 19px 31px;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.accordion li:after {
  content: " ";
  position: absolute;
  width: 17px;
  height: 15px;
  background: url(../images/bg-acordion-plus.png) no-repeat;
  left: 0;
  top: 23px;
}

.accordion li .slide {
  padding-top: 27px;
}

.accordion li a {
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.tab {
  border-left: 4px solid rgba(255, 255, 255, 0.4);
}

.tab .buttons {
  margin-left: 21px;
}

.tab .buttons a {
  padding: 5px 29px 9px 28px;
  margin-right: 9px;
  margin-bottom: 25px;
  background: rgba(0, 0, 0, 0.26);
  font-size: 18px;
  border-radius: 15px;
}

.tab .buttons a:hover, .tab .buttons a.active {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.tab p {
  padding-top: 25px;
}

/*.pp {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	opacity: .5;
	pointer-events: none;
}*/
